In [ ]:
from tabula import read_pdf
import pandas as pd

In [ ]:
# Select the right pages from the pdf, for me it was 4 and 5
pages = [4,5]

In [118]:
time_table, course_details = read_pdf(input_path="timetable.pdf",multiple_tables=True, pages=pages)

NameError: name 'pages' is not defined

In [51]:
time_table

,0,1,2,3,4,5,6,7,8
0,Day,Room no.,9:00 - 9:55,10:00 - 10:55,11:00 - 11:55,12:00 -,13:00 - 13:55 14:00 - 14:55,15:00 - 15:55,16:00 - 16:55
1,NaN,NaN,NaN,NaN,NaN,12:55,NaN,NaN,NaN
2,Monday,1E 303,L : AA 301,L : CE 305,L : CE 305,Lunch,L : CE 309,C1 Batch : P : CE 353,NaN
3,NaN,NaN,NaN,NaN,NaN,Timing,NaN,C2 Batch : P : CE 361,NaN
4,NaN,1E 204,L : HS 313,L : CS 309,L : CS 305,NaN,L : CS 303,CS1 Batch : P : CS 359,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS2 Batch : P : CS 353,NaN
6,NaN,1E 205,L : HS 323,L : EE 305,L : EE 301N,NaN,L : EE 307 L : EE 311,L : EE 303,L : EE 309
7,NaN,1E 304,NaN,NaN,L : ME 301,NaN,L : ME 303 T : ME 301,M1 Batch : P : ME 355,NaN
8,NaN,1E 305,NaN,L : MM 305,L : MM 303,NaN,MM1 Batch : P : MM 351,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,MM2 Batch : P : MM 357,NaN,NaN
10,Tuesday,1E 303,NaN,L : CE 307,L : CE 303,Lunch,L : CE 309,C1 Batch : P : CE 359,NaN
11,NaN,NaN,NaN,NaN,NaN,Timing,NaN,C2 Batch : P : CE 357,NaN
12,NaN,1E 204,NaN,L : CS 307,T : CS 309,NaN,CS2 Batch : P : CS 359,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,CS1 Batch : P : CS 353,NaN,NaN
14,NaN,1E 205,NaN,L : EE 311,L : EE 309,NaN,NaN,E1 Batch : P : EE 351N,NaN
15,NaN,1E 304,L : ME 301,L : ME 307,NaN,NaN,L : ME 305,M1 Batch : P : ME 351,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M2 Batch : P : ME 353,NaN
17,NaN,1E 305,NaN,T : MM 307,L : MM 305,NaN,L : MM 303,MM1 Batch : P : MM 351,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MM2 Batch : P : MM 357,NaN
19,Wednesday,1E 303,L : AA 301,L : CE 303,L : CE 361,Lunch,T : CE 309,C2 Batch : P : CE 353,NaN
20,NaN,NaN,NaN,NaN,NaN,Timing,NaN,C1 Batch : P : CE 361,NaN
21,NaN,1E 204,L : HS 313,L : CS 307,L : CS 305,NaN,L : CS 303,CS1 Batch : P : CS 355,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS2 Batch : P : CS 357,NaN
23,NaN,1E 205,L : HS 323,NaN,L : EE 301N,NaN,L : EE 307 L : EE 303,NaN,NaN
24,NaN,1E 304,NaN,NaN,L : ME 301,NaN,L : ME 303 T : ME 305,M2 Batch : P : ME 355,NaN
25,NaN,1E 305,NaN,T : MM 305,T : MM 303,NaN,L : MM 301,NaN,NaN
26,Thursday,1E 303,NaN,L : CE 301,NaN,Lunch,T : CE 303,C1 Batch : P : CE 357,NaN
27,NaN,NaN,NaN,NaN,NaN,Timing,NaN,C2 Batch : P : CE 359,NaN
28,NaN,1E 204,NaN,L : CS 309,NaN,NaN,CS2 Batch : P : CS 355,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,CS1 Batch : P : CS 357,NaN,NaN
30,NaN,1E 205,NaN,L : EE 311,L : EE 305,NaN,T : EE 303,E2 Batch : P : EE 351N,NaN
31,NaN,1E 304,NaN,L : ME 305,NaN,NaN,M2 Batch : P : ME 351,NaN,T : ME 303
32,NaN,NaN,NaN,NaN,NaN,NaN,M1 Batch : P : ME 353,NaN,NaN
33,NaN,1E 305,NaN,T : MM 301,L : MM 307,NaN,L : MM 309 L : MM 309,NaN,NaN
34,Friday,1E 303,T : AA 301,L : CE 301,NaN,Lunch,T : CE 305 L : CE 307,T : CE 307,T : CE 301
35,NaN,1E 204,L : HS 313,T : CS 307,NaN,Timing,T : CS 303 T : CS 305,NaN,NaN
36,NaN,1E 205,L : HS 323,NaN,L : EE 301N,NaN,L : EE 307 L : EE 309,L : EE 305,NaN
37,NaN,1E 304,NaN,NaN,L : ME 303,NaN,L : ME 307,P : ME 307,NaN
38,NaN,1E 305,NaN,NaN,L : MM 307,NaN,P : MM 309,L : MM 301,NaN

In [111]:
course_details

,0,1,2,3
0,Faculty Details:,NaN,NaN,NaN
1,Course Code,Course Title,(L - T - P),Course Coordinator* and Course Instructor(s)
2,AA 301,High Energy Astronomy,(2 : 1 : 0),"Dr. Suman Majumdar*, Dr. Abhirup Datta"
3,CE 301,Hydrology,(2 : 1 : 0),Dr. Munir Ahmad Nayak
4,CE 303,Soil Mechanics-I,(2 : 1 : 0),Dr. Lalit Borana
5,CE 305,Structural Mechanics-II,(2 : 1 : 0),Dr. Neelima Satyam
6,CE 307,Design of Structures-I,(2 : 1 : 0),Dr. Sandeep Chaudhary
7,CE 309,Geology,(2 : 1 : 0),Dr. Mohd. Farooq Azam
8,CE 353,Soil Mechanics Lab-I,(0 : 0 : 2),Dr. Neelima Satyam
9,CE 357,Design Laboratory-I,(0 : 0 : 3),Dr. Sandeep Chaudhary
10,CE 359,Geology Lab,(0 : 0 : 3),Dr. Neelima Satyam
11,CE 361,Design of Open Channel Flow,(1 : 0 : 2),Dr. Munir Ahmad Nayak
12,CS 303,Operating Systems,(2 : 1 : 0),Dr. Gourinath Banda
13,CS 305,Computer Architecture,(2 : 1 : 0),Dr. Anirban Sengupta
14,CS 307,Optimization Algorithms and Techniques,(2 : 1 : 0),Dr. Kapil Ahuja
15,CS 309,Parallel Computing,(2 : 1 : 0),Dr. Surya Prakash
16,CS 353,Operating Systems Lab,(0 : 0 : 3),Dr. Gourinath Banda
17,CS 355,Computer Architecture Lab,(0 : 0 : 3),Dr. Anirban Sengupta
18,CS 357,Optimization Algorithms and Techniques Lab,(0 : 0 : 3),Dr. Kapil Ahuja
19,CS 359,Parallel Computing Lab,(0 : 0 : 3),Dr. Surya Prakash
20,EE 301N,Microprocessors and Digital Systems Design,(3 : 0 : 0),Dr. Srivathsan Vasudevan
21,EE 303,Probability and Random Processes,(2 : 1 : 0),"Dr. Prabhat Kumar Upadhyay*, Dr. Vipul Singh"
22,EE 305,Electromagnetic Waves,(3 : 0 : 0),Dr. Mukesh Kumar
23,EE 307,Communication Systems,(3 : 0 : 0),Dr. Shaibal Mukherjee
24,EE 309,Electrical Measurements and Instrumentation,(3 : 0 : 0),Dr. M. Anbarasu
25,EE 311,VLSI Systems and Technology,(3 : 0 : 0),Dr. Santosh K. Vishvakarma
26,EE 351N,Microprocessors and Digital Systems Design Lab,(0 : 0 : 3),Dr. Srivathsan Vasudevan
27,HS 313,History of Early Cinema,(3 : 0 : 0),Dr. C. Upendra
28,HS 323,International Economics,(3 : 0 : 0),Dr. Ruchi Sharma
29,ME 301,Heat Transfer,(3 : 1 : 0),"Dr. S. Dhinakaran*, Dr. Devendra Deshmukh"
30,ME 303,Kinematics and Dynamics of Machines,(3 : 1 : 0),Dr. Santhakumar Mohan
31,ME 305,Machining Science and Metrology,(2 : 1 : 0),Dr. Kazi Sabiruddin
32,ME 307,Principles of Industrial Engineering,(2 : 0 : 2),Dr. Bhupesh K. Lad
33,ME 351,Heat Transfer Lab,(0 : 0 : 3),"Dr. S. Dhinakaran*, Dr. Devendra Deshmukh"
34,ME 353,Kinematics and Dynamics of Machines Lab,(0 : 0 : 3),Dr. Santhakumar Mohan
35,ME 355,Machining Science and Metrology Lab,(0 : 0 : 2),"Dr. Kazi Sabiruddin*, Dr. Satyajit Chatterjee"
36,MM 301,Polymer Technology,(2 : 1 : 0),"Dr. Rupesh S. Devan*, Dr. Sunil Kumar"
37,MM 303,Introduction to Electrochemistry,(2 : 1 : 0),Dr. Ajay Kumar Kushwaha
38,MM 305,Iron and Steel Making,(2 : 1 : 0),Dr. Santosh S Hosmani
39,MM 307,Composites,(2 : 1 : 0),"Dr. Dhirendra Kumar Rai*, Dr. Abhijit Ghosh"
40,MM 309,Computational Methods for Materials,(2 : 0 : 2),"Dr. Sumanta Samal*, Dr. Srimanta Pakhira"
41,NaN,NaN,NaN,"Dr. Rupesh S. Devan*, Dr. Sunil Kumar, Dr. Par..."
42,MM 351,Polymer Technology Lab,(0 : 0 : 3),NaN
43,NaN,NaN,NaN,Shirage
44,NaN,NaN,NaN,"Dr. Dhirendra Kumar Rai*, Dr. Abhijit Ghosh, D..."
45,MM 357,Composites Development Lab,(0 : 0 : 3),NaN
46,NaN,NaN,NaN,"Samal, Dr. Mrigendra Dubey"

,Course Code,Course Title,(L - T - P),Course Coordinator* and Course Instructor(s)
0,Faculty Details:,NaN,NaN,NaN
2,AA 301,High Energy Astronomy,(2 : 1 : 0),"Dr. Suman Majumdar*, Dr. Abhirup Datta"
3,CE 301,Hydrology,(2 : 1 : 0),Dr. Munir Ahmad Nayak
4,CE 303,Soil Mechanics-I,(2 : 1 : 0),Dr. Lalit Borana
5,CE 305,Structural Mechanics-II,(2 : 1 : 0),Dr. Neelima Satyam
6,CE 307,Design of Structures-I,(2 : 1 : 0),Dr. Sandeep Chaudhary
7,CE 309,Geology,(2 : 1 : 0),Dr. Mohd. Farooq Azam
8,CE 353,Soil Mechanics Lab-I,(0 : 0 : 2),Dr. Neelima Satyam
9,CE 357,Design Laboratory-I,(0 : 0 : 3),Dr. Sandeep Chaudhary
10,CE 359,Geology Lab,(0 : 0 : 3),Dr. Neelima Satyam
11,CE 361,Design of Open Channel Flow,(1 : 0 : 2),Dr. Munir Ahmad Nayak
12,CS 303,Operating Systems,(2 : 1 : 0),Dr. Gourinath Banda
13,CS 305,Computer Architecture,(2 : 1 : 0),Dr. Anirban Sengupta
14,CS 307,Optimization Algorithms and Techniques,(2 : 1 : 0),Dr. Kapil Ahuja
15,CS 309,Parallel Computing,(2 : 1 : 0),Dr. Surya Prakash
16,CS 353,Operating Systems Lab,(0 : 0 : 3),Dr. Gourinath Banda
17,CS 355,Computer Architecture Lab,(0 : 0 : 3),Dr. Anirban Sengupta
18,CS 357,Optimization Algorithms and Techniques Lab,(0 : 0 : 3),Dr. Kapil Ahuja
19,CS 359,Parallel Computing Lab,(0 : 0 : 3),Dr. Surya Prakash
20,EE 301N,Microprocessors and Digital Systems Design,(3 : 0 : 0),Dr. Srivathsan Vasudevan
21,EE 303,Probability and Random Processes,(2 : 1 : 0),"Dr. Prabhat Kumar Upadhyay*, Dr. Vipul Singh"
22,EE 305,Electromagnetic Waves,(3 : 0 : 0),Dr. Mukesh Kumar
23,EE 307,Communication Systems,(3 : 0 : 0),Dr. Shaibal Mukherjee
24,EE 309,Electrical Measurements and Instrumentation,(3 : 0 : 0),Dr. M. Anbarasu
25,EE 311,VLSI Systems and Technology,(3 : 0 : 0),Dr. Santosh K. Vishvakarma
26,EE 351N,Microprocessors and Digital Systems Design Lab,(0 : 0 : 3),Dr. Srivathsan Vasudevan
27,HS 313,History of Early Cinema,(3 : 0 : 0),Dr. C. Upendra
28,HS 323,International Economics,(3 : 0 : 0),Dr. Ruchi Sharma
29,ME 301,Heat Transfer,(3 : 1 : 0),"Dr. S. Dhinakaran*, Dr. Devendra Deshmukh"
30,ME 303,Kinematics and Dynamics of Machines,(3 : 1 : 0),Dr. Santhakumar Mohan
31,ME 305,Machining Science and Metrology,(2 : 1 : 0),Dr. Kazi Sabiruddin
32,ME 307,Principles of Industrial Engineering,(2 : 0 : 2),Dr. Bhupesh K. Lad
33,ME 351,Heat Transfer Lab,(0 : 0 : 3),"Dr. S. Dhinakaran*, Dr. Devendra Deshmukh"
34,ME 353,Kinematics and Dynamics of Machines Lab,(0 : 0 : 3),Dr. Santhakumar Mohan
35,ME 355,Machining Science and Metrology Lab,(0 : 0 : 2),"Dr. Kazi Sabiruddin*, Dr. Satyajit Chatterjee"
36,MM 301,Polymer Technology,(2 : 1 : 0),"Dr. Rupesh S. Devan*, Dr. Sunil Kumar"
37,MM 303,Introduction to Electrochemistry,(2 : 1 : 0),Dr. Ajay Kumar Kushwaha
38,MM 305,Iron and Steel Making,(2 : 1 : 0),Dr. Santosh S Hosmani
39,MM 307,Composites,(2 : 1 : 0),"Dr. Dhirendra Kumar Rai*, Dr. Abhijit Ghosh"
40,MM 309,Computational Methods for Materials,(2 : 0 : 2),"Dr. Sumanta Samal*, Dr. Srimanta Pakhira"
41,NaN,NaN,NaN,"Dr. Rupesh S. Devan*, Dr. Sunil Kumar, Dr. Par..."
42,MM 351,Polymer Technology Lab,(0 : 0 : 3),NaN
43,NaN,NaN,NaN,Shirage
44,NaN,NaN,NaN,"Dr. Dhirendra Kumar Rai*, Dr. Abhijit Ghosh, D..."
45,MM 357,Composites Development Lab,(0 : 0 : 3),NaN
46,NaN,NaN,NaN,"Samal, Dr. Mrigendra Dubey"

In [17]:
# get this from http://academic.iiti.ac.in/index1.html
courses_enrolled = ["CS 303","CS 305","CS 307","CS 309","CS 353","CS 355","CS 357","CS 359"]

In [18]:
rel_course = course_details[course_details[0].isin(courses_enrolled)]

In [19]:
rel_course

,0,1,2,3
12,CS 303,Operating Systems,(2 : 1 : 0),Dr. Gourinath Banda
13,CS 305,Computer Architecture,(2 : 1 : 0),Dr. Anirban Sengupta
14,CS 307,Optimization Algorithms and Techniques,(2 : 1 : 0),Dr. Kapil Ahuja
15,CS 309,Parallel Computing,(2 : 1 : 0),Dr. Surya Prakash
16,CS 353,Operating Systems Lab,(0 : 0 : 3),Dr. Gourinath Banda
17,CS 355,Computer Architecture Lab,(0 : 0 : 3),Dr. Anirban Sengupta
18,CS 357,Optimization Algorithms and Techniques Lab,(0 : 0 : 3),Dr. Kapil Ahuja
19,CS 359,Parallel Computing Lab,(0 : 0 : 3),Dr. Surya Prakash

In [25]:
rel_course[rel_course =="CS 303"]

True

In [36]:
a = rel_course[0] =="CS 303"

In [41]:
b = rel_course[2].str.contains("1")

In [45]:
a |b

12     True
13     True
14     True
15     True
16    False
17    False
18    False
19    False
dtype: bool

In [43]:
b

12     True
13     True
14     True
15     True
16    False
17    False
18    False
19    False
Name: 2, dtype: bool

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [67]:
relevant = pd.DataFrame(columns=time_table.columns)
for col in time_table.columns:
    for course in courses_enrolled:
            relevant[col] = relevant[col] | time_table[col].str.contains(course)

In [81]:
time_table[relevant.any(axis=1)]

,0,1,2,3,4,5,6,7,8
4,NaN,1E 204,L : HS 313,L : CS 309,L : CS 305,NaN,L : CS 303,CS1 Batch : P : CS 359,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS2 Batch : P : CS 353,NaN
12,NaN,1E 204,NaN,L : CS 307,T : CS 309,NaN,CS2 Batch : P : CS 359,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,CS1 Batch : P : CS 353,NaN,NaN
21,NaN,1E 204,L : HS 313,L : CS 307,L : CS 305,NaN,L : CS 303,CS1 Batch : P : CS 355,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS2 Batch : P : CS 357,NaN
28,NaN,1E 204,NaN,L : CS 309,NaN,NaN,CS2 Batch : P : CS 355,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,CS1 Batch : P : CS 357,NaN,NaN
35,NaN,1E 204,L : HS 313,T : CS 307,NaN,Timing,T : CS 303 T : CS 305,NaN,NaN

In [82]:
def gen_event(Title, day, location,  Description, startTime, endTime, addAfter):
    pass

In [110]:
a = f"var eventSeries = CalendarApp.getDefaultCalendar().createEventSeries(\"{Title}\",\
    new Date('January 1, 2013 03:00:00 PM EST'),\
    new Date('January 1, 2013 04:00:00 PM EST'),\
    CalendarApp.newRecurrence().addWeeklyRule()\
        .onlyOnWeekdays([CalendarApp.Weekday.{day}])\
        .until(new Date('January 1, 2014')),\
    \{location: {location}\});"
print(a)

NameError: name 'location' is not defined

In [86]:
a  = "10"

In [88]:
f"hello {a}"

'hello 10'

In [95]:
import datetime

In [101]:
now = datetime.datetime.now()

time.struct_time(tm_year=2018, tm_mon=7, tm_mday=9, tm_hour=16, tm_min=44, tm_sec=23, tm_wday=0, tm_yday=190, tm_isdst=0)